table,
td,
th {
  border: 2px solid #3a3a3a;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 50%;
}

th {
  background-color: rgb(0, 189, 252);
  height: 3rem;
}

td {
  padding: .75rem .75rem;
}

.main_div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 2rem;
  z-index: 1;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_label {
  background-color: rgb(0, 189, 252);
  padding: 1rem 2rem;
}

.dropdown_buttons {
  display: flex;
  flex-direction: column;
}


.dropdown_button {
  padding: 1rem 2rem;
  border: none;
}

.dropdown_button:hover {
  background-color: rgb(0, 189, 252)
}


.table_id{
  cursor: pointer;
}